@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-header: #000000;
  --color-header-blue: #4461f2;

  --color-main-h1: #000000;
  --color-main-p: #14162e;
  --color-main-span: #4461f2;

  --color-right-button:#4461F2;
  --color-right-input:#EAF0F7;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 50px 100px 0px 100px;
  background: #FFFFFF;
  border-radius: 50px;
}

header {
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

header .elements1 ul {
    display: flex;
    /* align-items: flex-start; */
    /* justify-content: start; */
    gap: 55px;
    list-style: none;
}

header .elements1 ul li a {
    color: var(--color-header);
  text-decoration: none;
}

header .elements1 ul li:hover {
  transform: scale(0.9);
}

header .elements2 {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    gap: 50px;
    color: var(--color-header);
}


header .elements2 select {
  border: none;
  font-family: 'Montserrat', sans-serif;
}

header .elements2 a {
  color: var(--color-header-blue);
  text-decoration: none;
}

header .elements2 a:hover {
  transform: scale(0.9);
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 88vh;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.main .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: auto;
  gap: 10px;
  text-align: left;
}

.main .left h1 {
  color: var(--color-main-h1);
  padding-bottom: 50px;
  width: 25vw;
  font-weight: 700;
  font-size: 50px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.main .left p {
  color: var(--color-main-p);
  width: 15vw;
  font-weight: 400;
  font-size: 23px;
}

.main .left a {
  color: var(--color-main-span);
  text-decoration: none;
  align-items: start;
  font-weight: 400;
  font-size: 23px;
  line-height: 20px;
}

.main .left a:hover {
  border-bottom: 1px solid var(--color-main-span);
  width: 165px;
}

.main .center {
  position: relative;
  width: auto;
  height: auto;
}

.main .center .img1 img {
  position: absolute;
  right: 50px;
  top: -60px;
}

 .main .right {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  width: auto;
  height: auto;
  gap: 20px;
}

.main .right input {
  width: 397.15px;
  height: 61.38px;
  border-radius: 10px;
  border-color: var(--color-right-input);
  background: var(--color-right-input);
  color: #4F555A;
  font-weight: 400;
  font-size: 15px;
  padding-left: 20px;
}

.main .right .recover-password {
  justify-content: flex-end;
  align-items: end;
  display: flex;
  height: 10px;
}

.main .right .recover-password a  {
  text-decoration: none;
  color: #C7C7C7;
  font-weight: 400;
  font-size: 14px;
}

.main .right .response {
  display: flex;
  align-items: center;
  justify-content: center;  
  font-style:italic ;
}

.main .right button {
  width: 397.15px;
  height: 61.38px;
  border-radius: 10px;
  background: #4461f2;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 19px;
  box-shadow: 0px 12px 21px 4px rgba(68, 97, 242, 0.15);
}

.main  .right .right-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main .right .right-center .space-line {
    width: 119.15px;
    height: 0px;
    border: 1px solid #DFDFDF;
}

.main .right .right-center span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ACADAC;
  font-weight: 400;
  font-size: 14px;
}

.main .right .right-center .space-line2 {
  width: 119.15px;
  height: 0px;
  border: 1px solid #DFDFDF;
}

.main .right .icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main .right .icons .icon1 {
  width: 110.91px;
  height: 58.92px;
  background: #FFFFFF;
  box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  position: relative;
}

.main .icons .icon1 img {
  position: absolute;
  right: 40px;
  bottom: 14px;
}

.main .icons .icon1:hover {
  transform: scale(0.9);
}

.main .right .icons .icon2 {
  width: 110.91px;
  height: 58.92px;
  background: #FFFFFF;
  box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  position: relative;
}

.main .icons .icon2 img {
  position: absolute;
  right: 40px;
  bottom: 14px;
}

.main .icons .icon2:hover {
  transform: scale(0.9);
}

.main .right .icons .icon3 {
  width: 110.91px;
  height: 58.92px;
  background: #FFFFFF;
  box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  position: relative;
}

.main .icons .icon3 img {
  position: absolute;
  right: 40px;
  bottom: 10px;
}

.main .icons .icon3:hover {
  transform: scale(0.9);
}